.btn{
    display: inline-block;
    padding: 1em;
    margin: .3em;
    border-radius: 5px;
    text-decoration: none;
}
.primary{
    background-color: #2b2d42;
    color: whitesmoke;
}
.secondary{
    background-color: transparent;
    color: #2b2d42;
    border: 1px solid #2b2d42;
}
.danger{
    background-color: #d90429;
    color: whitesmoke;
}